<ion-header>
  <ion-toolbar>
    <ion-buttons class="absolute-button">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor='let in of counter(establishment?.images_count) ;let i = index'>
        <img onerror="this.src='../assets/images/no-image-placeholder.jpg'" src="https://jiwemusic.org.za/phpApi/images/establishment/id{{establishment?.establishment_id}}/img_{{i}}.jpg" loading="lazy"/>
        <div class="overlay"></div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-padding">
    <div class="name-addr center">
      <h1>{{ establishment?.name }}</h1>
      <p>{{establishment?.address}}</p>
    </div>
    <div>
      <h2 class="center">Upcoming Events</h2>
      <ion-card [routerLink]="'/event-details/' + entry.event_id" detail="true" *ngFor="let entry of events">
        <ion-row>
          <ion-col size="3" class="ion-no-padding">
            <img onerror="this.src='../assets/images/no-image-placeholder.jpg'" src="https://jiwemusic.org.za/phpApi/images/events/id{{entry.event_id}}/event.jpg" loading="lazy"/>
            <div class="overlay"></div>
          </ion-col>
          <ion-col>
            <div class="card-title">{{entry.name}}</div>
            <div class="card-subtitle">
              <div>{{entry.place}}</div>
              <div>{{entry.duration}}</div>
              <div>Entry Fee: {{entry.entry_fee}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div class="other-info">
      <h2 class="center">Place Description</h2>
      <ion-row>
        <ion-col>
          Mobile:
        </ion-col>
        <ion-col>
          <span>{{establishment?.contact_numbers}}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          Place:
        </ion-col>
        <ion-col>
          {{establishment?.place}}
        </ion-col>
      </ion-row>   
      <ion-row>    
        <ion-col>
          City:
        </ion-col>
        <ion-col>
          {{establishment?.city}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Province:
        </ion-col>
        <ion-col>
          {{establishment?.province}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Checked In:
        </ion-col>
        <ion-col>
          {{establishment?.current_capacity}} Patrons
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Place Type:
        </ion-col>
        <ion-col>
          <!--type=night_club(in database), converting to Night Club-->
          {{establishment?.type.replace('_', ' ') | titlecase}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Dress Code:
        </ion-col>
        <ion-col>
          Smart Casual
        </ion-col>
      </ion-row>
      <h3 class="center">Operating Hours</h3>
      <ion-row>
        <ion-col>
          Monday: 
        </ion-col>
        <ion-col>
          10:00 - 02:00
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Tuesday: 
        </ion-col>
        <ion-col>
          10:00 - 02:00
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Wednesday: 
        </ion-col>
        <ion-col>
          10:00 - 02:00
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Thursday: 
        </ion-col>
        <ion-col>
          10:00 - 02:00
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Friday: 
        </ion-col>
        <ion-col>
          10:00 - 02:00
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Saturday: 
        </ion-col>
        <ion-col>
          10:00 - 02:00
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Sunday: 
        </ion-col>
        <ion-col>
          10:00 - 02:00
        </ion-col>
      </ion-row>
      <h3 class="center">Book A Table</h3>
      <ion-card [routerLink]="'/event-details/' + 1" detail="true">
        <ion-row>
          <ion-col size="3" class="ion-no-padding">
            <img onerror="this.src='../assets/images/no-image-placeholder.jpg'" src="../assets/images/no-image-placeholder.jpg" loading="lazy"/>
            <div class="overlay"></div>
          </ion-col>
          <ion-col>
            <div class="card-title">R100</div>
            <div class="card-subtitle">
              <div>Minimun</div>
              <div>Booking Fee</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
      <h3 class="center">Book The Place</h3>
      <ion-card [routerLink]="'/event-details/' + 1" detail="true">
        <ion-row>
          <ion-col size="3" class="ion-no-padding">
            <img onerror="this.src='../assets/images/no-image-placeholder.jpg'" src="../assets/images/no-image-placeholder.jpg" loading="lazy"/>
            <div class="overlay"></div>
          </ion-col>
          <ion-col>
            <div class="card-title">R6000</div>
            <div class="card-subtitle">
              <div>Minimun</div>
              <div>Booking Fee</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div class="reviews">
      <h3 class="center">Reviews By Patrons</h3>
      <div *ngFor="let entry of reviews">
        <ion-row>
          <ion-col size="2">
            <img onerror="this.src='../assets/images/no-image-placeholder.jpg'" src="../assets/images/no-image-placeholder.jpg" loading="lazy"/> 
          </ion-col>
          <ion-col>
            <div>{{entry?.author_name | titlecase}}</div>
            <div>{{entry?.reviewed_date}}</div>
          </ion-col>
          <ion-col size="1">
            <div class="rating">{{entry?.rating}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{entry?.text}}
          </ion-col>
        </ion-row>
      </div>
    </div>
      <h3 class="center">Buy Tickets To Other Events</h3>
      <ion-row>
        <ion-col>
         
        </ion-col>
        <ion-col>
         
        </ion-col>
      </ion-row>
  </div>
</ion-content>
