<ion-header>
  <ion-toolbar>
    <ion-buttons class="absolute-button">
      <ion-back-button defaultHref="hostess-list"></ion-back-button>
    </ion-buttons>
      <img onerror="this.src='../assets/images/no-image-placeholder.jpg'" src="https://jiwemusic.org.za/phpApi/images/hostesses/id{{hostess?.hostess_id}}/hostess.jpg" loading="lazy"/>
      <div class="overlay"></div>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-padding">
    <div class="name-addr center">
      <h1>{{ hostess?.name }}</h1>
      <p>{{hostess?.email}}</p>
      <p>{{hostess?.hostess_id}}</p>
    </div>
    <!--<div class="other-info">
      <ion-row>
        <ion-col>
          Hosted By:
        </ion-col>
        <ion-col>
          <span>{{hostess?.hosted_by}}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          Contact:
        </ion-col>
        <ion-col>
          <span>{{hostess?.contact_numbers}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Email:
        </ion-col>
        <ion-col>
          <span>{{hostess?.email}}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          Place:
        </ion-col>
        <ion-col>
          {{hostess?.place}}
        </ion-col>
      </ion-row>   
      <ion-row>    
        <ion-col>
          City:
        </ion-col>
        <ion-col>
          {{hostess?.city}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Province:
        </ion-col>
        <ion-col>
          {{hostess?.province}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Min Entry Fee:
        </ion-col>
        <ion-col>
          {{hostess?.entry_fee}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          hostess Type:
        </ion-col>
        <ion-col>
          {{hostess?.type.replace('_', ' ') | titlecase}}
        </ion-col>
      </ion-row>
    </div>-->
  </div>
</ion-content>
