<ion-header>
  <ion-toolbar>
    <ion-buttons class="absolute-button">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
      <img src="https://jiwemusic.org.za/phpApi/images/events/id{{event?.event_id}}/event.jpg" loading="lazy"/>
      <div class="overlay"></div>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-padding">
    <div class="name-addr center">
      <h1>{{ event?.name }}</h1>
      <p>{{event?.address}}</p>
      <p>{{event?.details}}</p>
      <p>{{event?.duration}}</p>
    </div>
    <div class="other-info">
      <ion-row>
        <ion-col>
          Hosted By:
        </ion-col>
        <ion-col>
          <span>{{event?.hosted_by}}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          Contact:
        </ion-col>
        <ion-col>
          <span>{{event?.contact_numbers}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Email:
        </ion-col>
        <ion-col>
          <span>{{event?.email}}</span>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          Place:
        </ion-col>
        <ion-col>
          {{event?.place}}
        </ion-col>
      </ion-row>   
      <ion-row>    
        <ion-col>
          City:
        </ion-col>
        <ion-col>
          {{event?.city}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Province:
        </ion-col>
        <ion-col>
          {{event?.province}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Min Entry Fee:
        </ion-col>
        <ion-col>
          {{event?.entry_fee}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Event Type:
        </ion-col>
        <ion-col>
          <!--type=night_club(in database), converting to Night Club-->
          {{event?.type.replace('_', ' ') | titlecase}}
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
