<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="map"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs color="danger">
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <ion-label>Clubs And Bars</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <ion-label>Events</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-content>
        <div [routerLink]="'/establishment-details/' + entry.establishment_id" detail="true" *ngFor="let entry of estService.establishments">
          <!--<ion-card  *ngIf="entry.photos">-->
            <ion-card>
            <div class="card-background-page">
              <ion-row>
                <ion-col>
                  <img src="https://jiwemusic.org.za/phpApi/images/establishment/id{{entry.establishment_id}}/img_0.jpg" loading="lazy"/>
                  <div class="overlay"></div>
                  <div class="card-title">{{entry.name}}</div>
                  <div class="card-subtitle">{{entry.address}}</div>
                </ion-col>
              </ion-row>
                  
            </div>
            
            <ion-card-content  class="center">
              <ion-card-title>
                {{entry.rating | number:'1.1'}}
              </ion-card-title>
              <ion-row>
                <ion-col>
                  <round-progress [current]="entry.current_capacity_percentage" [radius]="45" [color]="'#ffcc66'" [stroke]="7" [max]="max"
                  style="width:65px;height: 65px;">
                  </round-progress>
                  <span class="checked-in-text">
                    <p>{{entry.current_capacity_percentage}}%</p> 
                    <p>Full</p>
                  </span>
                </ion-col>
                <!--
                <ion-col>
                  <div class="quote-text">
                    <p>Book This Venue</p>
                    <p>Prices From</p>
                    <p>R10 000</p>
                    <p>Get A Quote</p>
                  </div>
                </ion-col>
                -->
                <ion-col>
                  <div class="quote-text round-border">
                    <p>{{entry.entry_fee}}</p>
                    <p>Entry</p>
                  </div>
                </ion-col>
              </ion-row>
                <p class="proximity-text">10 km from your current position</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content class="card-background-page">
        <ion-card [routerLink]="'/event-details/' + entry.event_id" detail="true" *ngFor="let entry of estService.events">
          <ion-row>
            <ion-col>
              <img src="https://jiwemusic.org.za/phpApi/images/events/id{{entry.event_id}}/event.jpg" loading="lazy"/>
              <div class="overlay"></div>
              <div class="card-title">{{entry.name}}</div>
              <div class="card-subtitle">
                <p>{{entry.place}}</p>
                <p>{{entry.duration}}</p>
                <p>Entry Fee: {{entry.entry_fee}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>

