.card-background-page {

  text-align: center;
  position: relative;
  ion-row {
    height:40vh;
  }
  

    img {
      height: 100%;
      width: 100%;
      position: absolute;
    }
  
    .card-title {
      position: relative;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.3em;
      position: relative;
      width: 100%;
      color: #fff;
    }
  
  }
  
  ion-card-title {
    background-color: #ffcc66;
    padding: 1% 2%;
    border-radius: 10%;
    color: #fff;
    width: fit-content;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  :host {  
    --super-tabs-toolbar-background: #eb445a;
    --st-indicator-color: #fff;
    color: #fff;
  }
  ion-card-content {
    .checked-in-text {
      position: absolute;
    }
    .proximity-text {
      padding-top: 10px;
      
      font-size: 15px;
      font-weight: 500;
      
    }
    .quote-text {
      border: solid 5px rgb(234, 234, 234);;
      border-radius: 5%;
      padding: 7px;
      p:nth-child(3) {
        font-size: 16px;
        font-weight: 700;
      }
    }
    .round-border {
      border-radius: 50%;
      width:65px;
      height: 65px;
   }
  }
  