<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="map"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs color="danger">
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <ion-label>Clubs And Bars</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <ion-label>Events</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-content>
        <div *ngFor="let entry of estService.establishments">
          <!--<ion-card  *ngIf="entry.photos">-->
            <ion-card>
            <div [routerLink]="'/establishment-details/' + entry.establishment_id" detail="true" class="card-background-page">
              <ion-row>
                <ion-col>
                  <img onerror="this.src='../assets/images/no-image-placeholder.jpg'"  src="https://jiwemusic.org.za/phpApi/images/establishment/id{{entry.establishment_id}}/img_0.jpg" loading="lazy"/>
                  <div class="overlay"></div>
                  <div class="card-title">{{entry.name}}</div>
                  <div class="card-subtitle">{{entry.address}}</div>
                  <div class="checked-in">
                    <span>CHECKED IN<br/></span>
                    <span>{{entry.current_capacity}}</span>
                    <!--<p>{{entry.checked_in}}</p>-->
                  </div>
                </ion-col>
              </ion-row>
                  
            </div>
            
            <ion-card-content>
              <ion-row>
                <ion-col size="2">
                  <div class="rating">
                    <p>{{entry.rating | number:'1.1'}}</p>
                  </div>
                </ion-col>
                  
                <ion-col> 
                  <p>SUPERB * 12367</p>
                </ion-col>
                
                <ion-col>
                  <p class="text-align-right">Entry Fee: <span class="start-font">R</span><span class="end-font">{{entry.entry_fee}}</span></p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col> 
                  <p>Checked In? {{checked_in[entry.establishment_id]}}</p>
                </ion-col>
                <ion-col style="align-items:flex-end;">
                  <ion-toggle (ionChange)="update($event,entry.establishment_id,entry.current_capacity)"></ion-toggle>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="align-items:flex-end;">
                  <p>10 km from your current position</p>
                </ion-col>
              </ion-row>
                
            </ion-card-content>
          </ion-card>
        </div>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content class="card-background-page">
        <ion-card [routerLink]="'/event-details/' + entry.event_id" detail="true" *ngFor="let entry of estService.events">
          <ion-row>
            <ion-col>
              <img onerror="this.src='../assets/images/no-image-placeholder.jpg'" src="https://jiwemusic.org.za/phpApi/images/events/id{{entry.event_id}}/event.jpg" loading="lazy"/>
              <div class="overlay"></div>
              <div class="card-title">{{entry.name}}</div>
              <div class="card-subtitle">
                <p>{{entry.place}}</p>
                <p>{{entry.duration}}</p>
                <p>Entry Fee: {{entry.entry_fee}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>

